.navbar {
    border-radius: 0 !important;
    margin-bottom: 0;
    padding-top: 15px;
    /*background-color: #feaa26;*/
    -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
}

.cart {
    font-size: 2em;
}

.item-count {
    display: inline-block;
    position: relative;
    width: auto;
    min-width: 16px;
    height: 16px;
    text-align: center;
    font-size: 0.8em;
    left: -25%;
    top: -25%;
    border-radius: 8px;
    padding: 1px;
    color: white;
    background-color: #feaa26;
}

#signout {
    cursor: pointer;
}

.show-collapsed {
    display: initial;
}

.mobile-user-header {
    padding-left: 10px;
}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .show-collapsed {
        display: none;
    }
}