#state-box {
    display: block;
    position: fixed;
    opacity: 0;
    z-index: 1000;
    left: 30vw;
    top: 100vh;
    width: 40vw;
    min-width: 200px;
    height: 10vh;
    min-height: 200px;

    -webkit-transition: top, 0.5s, opacity 0.5s; /* Safari */
    transition: top, 0.5s, opacity 0.5s;
}

#state-box.show {
    top: 25vh;
    opacity: 1;
}

#state-box-content {
    border: 2px solid #feaa26;
    background-color: white;
    height: 95%;
    padding: 5px;
}

#bar {
    display: block;
    width: 100%;
    height: 8px;
    background-color: rgba(254, 200, 114, 0.5);
}

#foreground.updating {
    -webkit-animation-name: progress-bar; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: progress-bar;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#foreground {
    display: block;
    position: relative;
    background-color: #feaa26;
    height: 100%;
    width: 100%;
}

 @keyframes progress-bar {
    0% {left: 0; width: 0; opacity: 0;}
    25% {left: 10%; width: 30%; opacity: 0.7;}
    50% {left: 30%; width: 40%; opacity: 1;}
    75% {left: 60%; width: 30%; opacity: 0.7;}
    100% {left: 100%; width: 0; opacity: 0;}
} 