<section id="login">
  <div class="container">
    <div class="row">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-sm-12">
          <label for="email">Email Address</label>
          <input type="text" id="email" class="form-control" formControlName="email">
          <label *ngIf="formErrors['email']" class="warning">{{formErrors['email']}}</label>
        </div>
        <div class="form-group col-sm-12">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password">
          <label *ngIf="formErrors['password']" class="warning">{{formErrors['password']}}</label>
        </div>
        <div class="text-center col-sm-12">
          <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Login</button>
          <button type="button" class="btn btn-default" routerLink="/signup">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
  <app-statebox [config]="_stateboxconfig"></app-statebox>
</section>