<div class="container">
  <div class="row">
    <h3 class="text-center">Shopping List</h3>
    <ul class="col-xs-8 col-xs-push-2">
      <li *ngFor="let item of items; let i = index;" class="item-list col-xs-12">
        <span class="icon print-hide" (click)=edit(i) [ngClass]="{'editing' : isEditing[i]}">&#9998;</span>
        <span class="icon print-hide" (click)=delete(i)><b>X</b></span>
        <span [hidden]="isEditing[i]">{{item}}</span>
        <input [autofocus]="isEditing[i]" [hidden]="!isEditing[i]" type="text" [ngModel]=item (blur)="onBlur($event, i)">
      </li>
    </ul>

    <div class="text-center col-xs-12 print-hide">
      <div class="btn-group">
        <button type="button" class="btn btn-default" (click)="print()">Print</button>
        <button type="button" class="btn btn-default" (click)="addItemActivate()">Add Item</button>
        <button type="button" class="btn btn-default" (click)="deleteAllIngredients()">Delete All</button>
      </div>
    </div>
  </div>
</div>