section {
    background-color: white;
    min-height: 90vh;
}

h3 {
    background-color: #feaa26;
    padding: 0.5em;
    margin: 5vw 5vw 0 5vw;
}

ul{
    border: 2px solid #feaa26;
    margin: 0 5vw 0 5vw;
    min-height: 30vh;
    font-size: 1.1em;
}

.item-list {
    font-size: 1.1em;
    list-style: none;
    border-bottom: 1px dotted silver;
}

.icon {
    color: silver;
    transition: transform 0.1s ease-out;
    transform: scale(1, 1);
    cursor: pointer;
}

.icon:hover {
    color: black;
    transform: scale(1.1, 1.1);
}

.editing {
    color: black;
}

.print-hide {
    padding: 0.5em;
    margin: 0 5vw 0 5vw;
    background-color: #feaa26;
}

@media print {
    .print-hide { display: none; }
} 