<section id="create-recipe">
  <div class="container" *ngIf="isAuth">
    <div class="row">
      <div class="col-md-6" id="form">
        <h1 class="text-center">RECIPE</h1>
        <form novalidate class="form row" [formGroup]="myForm">
          <div class="form-group col-xs-12">
            <label for="recipe-title">Title</label>
            <input type="text" class="form-control" id="recipe-title" formControlName="title" (blur)="setTitle()" required placeholder="Edit Title Here">
          </div>
          <div class="form-group col-xs-12">
            <label for="recipe-image">Image</label>
            <input type="text" class="form-control" id="recipe-image" formControlName="imagePath" (blur)="setImagePath()" required placeholder="Image Link">
          </div>
          <div formArrayName="tags">
            <div class="form-inline col-xs-12">
              <label>Tags</label>
            </div>
            <div *ngFor="let tag of myForm.controls.tags.controls; let i=index">
              <div class="form-group col-xs-4">
                <span class="close-tag" (click)="deleteTag(i)">X</span>
                <input type="text" class="form-control tag" [formControlName]="i" (blur)="addTag(i)">
              </div>
            </div>
          </div>
          <div class="col-xs-12 separation">
          </div>
          <div class="form-group col-xs-6">
            <label for="recipe-prep-time">Preparation Time</label>
            <input type="text" class="form-control" id="recipe-prep-time" formControlName="prepTime" (blur)="setPrepTime()" required
              placeholder="Preparation Time">
          </div>
          <div class="form-group col-xs-6">
            <label for="recipe-prep-time">Cook Time</label>
            <input type="text" class="form-control" id="recipe-cook-time" formControlName="cookTime" (blur)="setCookTime()" required
              placeholder="Cook Time">
          </div>
          <div class="form-group col-xs-12">
            <label for="recipe-serving">Serving</label>
            <input type="text" class="form-control" id="recipe-serving" formControlName="serving" (blur)="setServing()" required
              placeholder="Serving">
          </div>
          <div formArrayName="ingredients">
            <div class="form-inline col-xs-12">
              <label>Ingredients</label>
            </div>
            <label class="col-xs-6">Name</label>
            <label class="col-xs-2">Amount</label>
            <label class="col-xs-4">Unit</label>
            <div *ngFor="let ingredient of myForm.controls.ingredients.controls; let i=index">
              <div [formGroupName]="i">
                <div class="col-xs-6">
                  <span class="close-ing" (click)="deleteIngredient(i)">X</span>
                  <input type="text" class="form-control name-ing" formControlName="name" (blur)="updateIngredientName(i)">
                </div>
                <div class="form-group col-xs-2">
                  <input type="text" class="form-control" formControlName="amount" (blur)="updateIngredientAmount(i)">
                </div>
                <div class="form-group col-xs-4">
                  <input type="text" class="form-control" formControlName="unit" (blur)="updateIngredientUnit(i)">
                </div>
              </div>
            </div>
          </div>
          <div formArrayName="directions" id="directions">
            <label class="col-xs-12">Directions</label>
            <div *ngFor="let dir of myForm.controls.directions.controls; let i=index">
              <div class="form-group col-xs-12">
                <textarea type="text" class="form-control" [formControlName]="i" (blur)="addDirection(i)"></textarea>
              </div>
            </div>
          </div>
          <div class="col-xs-12 buttons">
            <button type="submit" class="btn btn-default" (click)="submitForm()">Submit</button>
            <button type="button" class="btn btn-default">Reset</button>
          </div>
        </form>
      </div>

      <div class="col-md-6" id="preview">
        <h1 class="text-center">PREVIEW</h1>
        <div class="col-sm-12">
          <img src="{{recipe?.imagePaths[0]}}" alt="major image" class="img-responsive center-block main-img">
        </div>
        <div class="col-xs-12">
          <h1 class="text-center">{{recipe?.title}}</h1>
        </div>
        <div class="col-sm-6" id="recipe-detail-info">
          <ul id="tags" class="col-xs-12 list-inline">
            <li *ngFor="let tag of recipe?.tags" class="tag">{{tag}}</li>
          </ul>
          <div id="preptime" class="col-xs-12 summary">&#9200; Prep Time: {{recipe?.prepTime}}</div>
          <div id="cooktime" class="col-xs-12 summary">&#9200; Cook Time: {{recipe?.cookTime}}</div>
          <div id="serving" class="col-xs-12 summary">&#9924; Serving: {{recipe?.serving}}</div>
        </div>
        <div id="ingredients" class="col-xs-12 underlined">
          <h3 id="ing-title" class="text-center">INGREDIENTS</h3>
          <p *ngFor="let item of recipe.ingredients; let i = index;" class="col-xs-12 ingredient-item">
            <span class="check-icon">&#10004;</span> {{item?.name}}, {{item?.amountString}} {{item?.unit}}
          </p>
        </div>
        <div id="direction" class="col-xs-12 underlined">
          <h3 id="ing-title" class="text-center">DIRECTION</h3>
          <p *ngFor="let item of recipe.steps; let i = index;" class="col-xs-12 direction-item">
            <span class="round-icon">{{i+1}}</span> {{item}}
          </p>
        </div>
        <div id="end" class="col-xs-12">
        </div>
      </div>
    </div>
  </div>
  <div id="error" *ngIf="!isAuth">
    <h1>You have to sign in to create a recipe. Redircting...</h1>
  </div>
</section>