@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto+Condensed|Lato');

* {
    font-family: 'Roboto Condensed', sans-serif;
}

/* #feaa26 */
#create-recipe {
    min-height: 90vh;
    background-color: white;
}

.container {
    padding: 5vh 0 0 0;
}

.row {
    margin: 0;
}

input {
    border-radius: 0;
}

#form{
    background-color: #feaa26;
    min-height: 90vh;
    padding-bottom: 10vh;
}

#preview{
    min-height: 90vh;
}

.remove-tag{
    color: white;
    padding: 2px;
    background-color: black;
}
.remove-tag:hover {
    color: black;
    background-color: white;
}

.close-ing, .close-tag{
    float: right;
    width: 5%;
    display: block;
    text-align: center;
    height: 2.3em;
    padding: 6px 2px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.close-tag{
    width: 10%;
}

.tag {
    width: 90%;
    float: right;
}

.name-ing {
    float: right;
    width: 95%;
}

.ingredient-item{
    margin: 1px;
}

.direction-item {
    font-size: 1.1em;
}

.round-icon{
    display:inine-block;
    background-color: silver;
    padding:0 5px 0 5px;
    min-width:20px;
    border-radius: 50%;
}