.img-div {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: absolute;
    display: inline-block;
    min-height: 100%;
    padding: 0;
}

.card {
    padding-bottom: 2px;
}

p {
    margin-bottom: 1px;
}