#login {
    padding-top : 10%;
    background-color: white;
    min-height: 90vh;
}

#loading {
    display: block;
    position: fixed;
    left: 25vw;
    top: 25vh;
    width: 50vw;
    height: 50vh;
    min-width: 200px;
    min-height: 200px;
    border: 4px solid lightcoral;
    background-color: white;
}

#loading-status {
    display:block;
    position: relative;
    top: 40%;
}