/* You can add global styles to this file, and also import other style files */

body {
    max-width: 1280px;
    margin: auto;
    background-color: lightgray;
}

.btn-default {
    border-radius: 0 !important;
    border: 1px solid silver;
}